uvicorn
fastapi
uvicorn==0.30.1
SQLAlchemy==2.0.31
asyncpg
psycopg
psycopg-binary
alembic
pydantic
pydantic-settings
sqlmodel
starlette
# LLM / HuggingFace
transformers
torch
sentencepiece  # для моделей вроде T5 или mBART