fastapi==0.111.0
uvicorn==0.30.1

SQLAlchemy==2.0.31
sqlmodel==0.0.21

pydantic[email]==2.11.3
pydantic-settings==2.4.0

psycopg[binary]==3.1.19
asyncpg==0.29.0

alembic==1.13.2
bcrypt>=4.0.1
starlette>=0.37.2

python-jose[cryptography]
PyJWT>=2.9.0

# LLM (если нужны)
transformers
torch
sentencepiece
